notebooks/.ipynb_checkpoints/hw_week1-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Model-checkpoint.ipynb
03-orchestration/__pycache__/homework.cpython-38.pyc
04-deployment/homework/.ipynb_checkpoints
